*{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style-type:none}

button:hover{
    background-color: #fff;
}

button{
    width: 50px;
    height: 50px;
    display: inline-flex;
}

td{
    display: inline-flex;
}
tr{
    display: flex;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: wheat;
}

h2{
    padding: 20px;
    font-size: 200%;
    font-family: sans-serif;
    font-weight: 700;
    position: absolute;
    left: 0;
}